<!DOCTYPE html>
<html lang="en-us">
    <head>
        
        <title>To-do list</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Owen Ikhena">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
        
    </head>
    <body>
        <div class="container">
            <div class="side-nav">
               
                
                <span class="task-status com">Complete Task</span>
                <span class="task-status incom">Incomplete Task</span>
                <span class="date">Saturday, June 1st</span>
                <span class="task-count">No active task</span>
                <div class="add-input">
                    <div id ="addForm">
                        <input type="text" placeholder="Enter a task..." id="text-box"  name="task_name" required>
                        <button class="btn btn-info" id="add">submit</button>
                        

                    </div>
                </div>
                <a href="/logout" id="logout" class="btn btn-info">Logout</a>
                
                

            </div>
            <div id="content">
                
                <div class="item">
                    <ul id="task-list">
                        
                    </ul>
                    

                </div>
                
            </div>
            

        </div>
        <script src="/static/javascript/script.js"></script>
      
    </body>
</html>