<!DOCTYPE html>
<html lang="en-us">
    <head>
        
        <title>To-do list</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Owen Ikhena">
        <link rel="stylesheet" href="..\static\style.css">
        
    </head>
    <body>
        <div class="container">
            <div class="side-nav">
               
                
                <span class="task-status com">Complete Task</span>
                <span class="task-status incom">Incomplete Task</span>
                <span class="date">Saturday, June 1st</span>
                <span class="task-count">No active task</span>
                <div class="add-input">
                    <form id ="addForm">
                        <input type="text" placeholder="Enter a task..." id="text-box">
                        <input type="submit" value="Add Task" id="add">

                    </form>
                </div>
                
                

            </div>
            <div id="content">
                <hr>
            </div>
            

        </div>
        <script src="../static/script.js"></script>
      
    </body>
</html>