<!DOCTYPE html>
<html lang="en-us">
    <head>
        
        <title>To-do list</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Owen Ikhena">
        <link rel="stylesheet" href="..\static\style.css">
        
    </head>
    <body>
        <div class="container">
            <div class="side-nav">
               
                
                <a href="#">Completed Task</a>
                <a href="#" class="active">Incomplete Task</a>
                <div class="date">Saturday, June 1st</div>
                <div class="tasks">3 active tasks</div>
                <div class="add-input">
                    <input type="text" placeholder="Enter a task...">
                    <input type="submit" value="Add Task" id="add">
                </div>
                
                

            </div>
            <div id="content">
                <hr>
                
                <ul class="task-list">
                    <li>
                        <img src="..\check-mark.svg" alt="" class="check">
                        <span class="t">Client meeting @ 2:30pm</span>
                        <img src="..\garbage.svg" alt="" class="garbage">
                        
                        
                    </li>
                    
                    
                    
                </ul>
                <hr>
                <ul class="task-list">
                    <li>
                        <img src="..\check-mark.svg" alt="" class="check">
                        <span class="t">Design App interface</span>
                        <img src="..\garbage.svg" alt="" class="garbage">
                        
                        
                    </li>
                </ul>
                <hr>
                <ul class="task-list">
                    <li>
                        <img src="..\check-mark.svg" alt="" class="check">
                        <span class="t">Learn Node.js</span>
                        <img src="..\garbage.svg" alt="" class="garbage">
                        
                        
                    </li>
                </ul>
                <hr>

                    
              

            </div>
            

        </div>
      
    </body>
</html>